@model List<ContatoModel>
@{
    ViewData["Title"] = "Registo de contatos";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

@if (TempData["MensagemSucesso"] != null)
{

    <div class="alert alert-success mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <span class="material-symbols-outlined" style="padding-right:5px;">
            check_circle
        </span>
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close ms-2" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["MensgemErro"] != null)
{
    <div class="alert alert-danger mb-0 alert-dismissible fade show d-flex" id="alertExample" role="alert" data-mdb-color="secondary">
        <button type="button" class="btn-close" id="close-alert" aria-label="Close"></button>
        <span class="material-symbols-outlined" style="padding-right:5px;">
            error
        </span>
        @TempData["MensgemErro"]
    </div>
    
}

<h1 class="display-4">Lista de contatos:</h1>

<a class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Adicionar contato</a>

<br />
<br />

<div>
    <table class="table" id="table-contatos">

        <thead>
            <tr>
                <th class="text-center" scope="col">Nº</th>
                <th class="text-center" scope="col">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                </th>
                <th class="text-center" scope="col">Nome</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Celular</th>
                <th class="text-center" scope="col">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </th>
                <th class="text-center"  scope="col">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td> <img src=@contato.GetImagePath() onerror="this.onerror=null; this.src='/img/ContatosPhotos/sem-foto'" alt="contato" style="width:45px; height:45px" class="rounded-circle"></td>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td class="text-center"><a class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a></td>
                        <td class="text-center"><a class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Apagar">Apagar</a></td>
                    </tr>
                }    
            }
        </tbody>

    </table>
</div>

<br />
