@model ControleDeContatos.Models.Usuario.UsuarioModel

@{
    ViewData["Title"] = "Apagar registro";
}
<div class="text-center">
    <h1 class="display-4">Apagar usuário:</h1>
</div>
<br />


<div class="card shadow p-3 mb-5 bg-white rounded">
    <form method="post" asp-controller="Usuario" asp-action="Excluir">
        <input type="hidden" asp-for="Id"/>
        <div class="d-flex">
            <div>
                <div class="form-group">
                    <label class="picture_show" for="picture_upload" tabindex="0">
                        <img src="@Model.GetImagePath()" id="foto_perfil" onerror="this.onerror=null; this.src='/img/sem-foto.jpeg'">
                    </label>
                </div>
            </div>
            <div class="card d-flex flex-column mx-auto" style="width:80%;">
                <div class="card-header px-3">Informações:</div>
                <div class="boxInputs">
                    <ul class="list-group list-group-light list-group-small">
                        <li class="list-group-item px-3">
                            <div class="form-group">
                                <label asp-for="Nome">Nome: @Model.Nome</label>
                            </div>
                        </li>
                        <li class="list-group-item px-3">
                            <div class="form-group">
                                <label asp-for="Email">Email: @Model.Email</label>
                            </div>
                        </li>
                        <li class="list-group-item px-3">
                            <div class="form-group">
                                <label asp-for="Login">Login: @Model.Login</label>
                            </div>
                        </li>
                        <li class="list-group-item px-3">
                            <div class="form-group">
                                <label asp-for="DataCadastro">Permissões: @Model.Tipo_Usuario</label>
                            </div>
                        </li>
                        <li class="list-group-item px-3">
                            <div class="form-group">
                                <label asp-for="DataCadastro">Data do cadastro: @Model.DataCadastro</label>
                            </div>
                        </li>
                        <li class="list-group-item px-3">
                            <div class="form-group">
                                <label asp-for="DataAlteração">Última atualização: @(Model.DataAlteração == null ? "Sem alterações recentes" : Model.DataAlteração) </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>

        <br />

        <div>
            <p>
                Realmente deseja apagar esse usuário:
                <div class="radio-buttons-container">
                    <div class="radio-button">
                        <input name="radio-group" id="rdSim" class="radio-button__input" type="radio">
                        <label for="rdSim" class="radio-button__label">
                            <span class="radio-button__custom"></span>
                            Sim
                        </label>
                    </div>
                    <div class="radio-button">
                        <input name="radio-group" id="rdNao" class="radio-button__input" type="radio" checked>
                        <label for="rdNao" class="radio-button__label">
                            <span class="radio-button__custom"></span>
                            Não
                        </label>
                    </div>

                </div>
            </p>
            <button type="submit" class="btn btn-danger">Apagar</button>
            <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Cancelar</a>
        </div>
    </form>
</div>